.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/app/.cxx
*.iml
CMakeCache.txt
CMakeCCompiler.cmake
CMakeCXXCompiler.cmake
CMakeDetermineCompilerABI_C.bin
CMakeDetermineCompilerABI_CXX.bin
CMakeSystem.cmake
CMakeOutput.log
TargetDirectories.txt
feature_tests.bin
android_gradle_build.json
android_gradle_build_mini.json
android_gradle_generate_cmake_ninja_json_arm64-v8a.command.txt
android_gradle_generate_cmake_ninja_json_arm64-v8a.stdout.txt
build.ninja
build_command.txt
build_model.json
build_output.txt
cmake_install.cmake
json_generation_record.json
rules.ninja
android_gradle_generate_cmake_ninja_json_x86_64.command.txt
android_gradle_generate_cmake_ninja_json_x86_64.stdout.txt
ndk_locator_record.json
utils-android.iml
